// стили для темной темы
// навешиваем на класс app
.app.dark {
    --bg-color: #090949;
    // цвет шрифта для акцента (заголовки)
    --primary-color: #049604;
    // обычный текст
    --secondary-color: #04ff04;
}