// стили для светлой темы
// навешивыем на класс app
.app.light {
    --bg-color: #e8e8ea;
    // цвет шрифта для акцента (заголовки)
    --primary-color: #0232c2;
    // обычный текст
    --secondary-color: #0449e0;
}